<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.busi.adi.aarogyam">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aarogyam"
        android:fullBackupOnly="true">
        <activity android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Aarogyam.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.Aarogyam.NoActionBar"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".account.Account"/>
        <activity android:name=".account.Profile"/>
        <activity android:name=".History" />
        <activity android:name=".SearchedHistory"/>
        <activity android:name=".LocallyAddedHistory"/>
    </application>

</manifest>